.root {
    -fx-background-color: #1c1c1c;
}

#title_lbl {
    -fx-font-size: 110pt;
    /*-fx-text-fill: radial-gradient(radius 85%, #1974bb, ghostwhite, #3cc0f0, #1974bb, ghostwhite, #3cc0f0, ghostwhite, #3cc0f0);*/
    -fx-text-fill: radial-gradient(center 50% 50% , radius 50% , #1974bb, ghostwhite);
}

.text-field {
    -fx-background-color: #1c1c1c;
    -fx-font-size: 35pt;
    -fx-text-fill: ghostwhite;
    -fx-padding: 5px;
    -fx-alignment: center;

    -fx-border-width: 0 0 2 0;
    -fx-border-bottom: 2px;
    -fx-border-color: #1974bb;
    -fx-border-insets: 20,20,20,20;
}

.text-field:focused {
    -fx-font-size: 40pt;
}

.text-field:hover {
    -fx-font-size: 40pt;
}

#back_btn {
    -fx-background-image: url("INSERT PICTURE LOCATION HERE");
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-background-color: transparent;
    -fx-font-size: 15pt;
}

#back_btn:hover {
    -fx-text-fill: ghostwhite;
    -fx-fill-height: true;
    -fx-font-size: 40pt;
}

#submit_btn {
    -fx-text-fill: grey;
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-background-color: #1c1c1c;
    -fx-font-size: 35pt;
}

#submit_btn:hover {
    -fx-text-fill: #B3EFB2;
    -fx-fill-height: true;
    -fx-font-size: 40pt;
}

#tech_items {
    -fx-background-color: #1c1c1c;
    -fx-fill-height: true;
    -fx-border-width: 2px;
    -fx-border-color: #1974bb;
    -fx-border-radius: 25px;
    -fx-border-insets: 20,20,20,20;
}

.combo-box .list-cell {
    -fx-text-fill: ghostwhite;
    -fx-font-family: "Avenir";
    -fx-background-color: #1c1c1c;
    -fx-font-size: 20pt;
}

.combo-box .list-cell:hover {
    -fx-background-color: #1974bb;
    -fx-font-size: 25pt;

}

.combo-box-base {
    s-fx-background-color: grey, grey, grey, grey;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

